.edit-show-modal {
  .popup-content div {
    height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .action-buttons {
    display: flex;
    gap: 1rem !important;
    justify-content: center;
    margin: 1rem;
  }

  .info-row :first-child {
    width: 4rem;
  }
}
