.mixer-fader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.fader-value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  width: 100%;
  height: 2rem;
}

.fader-meter {
  display: flex;
  align-items: baseline;
}
